@import '../variables';
@import '../animations';
@import '../page';

// <div className={styles.footerLayout}>
// <div className={styles.footerContainer}>
//     <h3 className={styles.footer__heading}>
//         Contacts
//     </h3>
//     <div className={styles.logos}>
//         {renderLogos}
//     </div>
// </div>
// </div>

.footerLayout {
  background-color: $primary-darkest;
  color: $text-light;
  position: relative;
}

.footerContainer {
  @include Container;
  text-align: center;

  padding: 10rem 0;
}

.footer__heading {
  font-weight: 600;
}

.logos {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.logoBox {
  height: 8rem;
  width: 8rem;
  margin: 0 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  cursor: pointer;
  background-color: rgba($bg-light, 0.2);

  transition: background-color 0.5s;

  &:hover {
    background-color: rgba($bg-light, 0.7);
  }
}

.logo {
  height: 4rem;
  width: 4rem;
}

.copyPrompt {
  position: absolute;
  top: 5rem;
  right: 5rem;

  background-color: $bg-dark-1;
  color: $text-light;
  display: inline-block;
  // max-width: 50rem;
  padding: 2rem 2rem;
  border-radius: 3px;

  opacity: 0;

  p {
    font-weight: 600;
  }

  // animation: fadeOut 5s forwards;
}
