@import '../variables';
@import '../animations';
@import '../page';

.navbar {
  @include Container;
  height: 12rem;
  background-color: $bg-light;
  // border-bottom: 1px solid rgba($text-dark, 0.05);
  // box-shadow: 0 0.2rem 2rem rgba(black, 0.1);
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: fadeIn 2s forwards 7s;

  &__right {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  &__logo {
    height: 70%;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include respond(phone) {
      display: none;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 4rem;
    font-weight: 600;
    font-size: 2.5rem;
    color: $text-dark;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      background-color: $text-dark;
      width: 0%;
      height: 0.5rem;
      bottom: 2rem;
      left: 0;
      transition: width 0.3s;
      z-index: -1;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__menu {
    box-sizing: border-box;
    display: none;
    cursor: pointer;

    // border: 1px solid rgba($text-dark, 0.1);
    // border-radius: 5px;

    @include respond(phone) {
      height: 6rem;
      width: 8rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }

    & * {
      background-color: $text-dark;
      width: 70%;
      height: 0.5rem;
      transform-origin: right;
      border-radius: 1rem;
    }
  }
}

.menuModal {
  height: 100vh;
  width: 100vw;
  background-color: #090f20;
  transform-origin: top right;
  color: white;

  &__content {
    height: 100%;
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
