@import "../variables";
@import "../animations";
@import "../page";

.navbar {
  @include Container;
  height: 10rem;
  background-color: $bg-light;
  // border-bottom: 1px solid rgba($text-dark, 0.05);
  // box-shadow: 0 0.2rem 2rem rgba(black, 0.1);
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: fadeIn 2s forwards 9s;

  &__right {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  &__logo {
    height: 70%;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 4rem;
    font-weight: 600;
    font-size: 2.5rem;
    color: $text-dark;
    text-decoration: none;

    @include respond(small-phone) {
      padding: 0 3rem;
    }

    transition: all 0.3s;
    &:hover {
      cursor: pointer;
      // color: $primary-dark;
      background-color: $bg-light-3;
    }
  }
}
