@import '../variables';
@import '../animations';
@import '../page';

.navbar {
  @include Container;
  height: 10rem;
  background-color: $bg-light;
  // border-bottom: 1px solid rgba($text-dark, 0.05);
  // box-shadow: 0 0.2rem 2rem rgba(black, 0.1);
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  animation: fadeIn 2s forwards 7s;

  &__right {
    display: flex;
    align-items: center;
    height: 100%;
    cursor: pointer;
  }

  &__logo {
    height: 70%;
  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;

    @include respond(phone) {
      display: none;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 4rem;
    font-weight: 600;
    font-size: 2.5rem;
    color: $text-dark;
    text-decoration: none;
    position: relative;
    cursor: pointer;

    &::after {
      position: absolute;
      content: '';
      background-color: $text-dark;
      width: 0%;
      height: 0.5rem;
      bottom: 2rem;
      left: 0;
      transition: width 0.3s;
      z-index: -1;
    }

    &:hover::after {
      width: 100%;
    }
  }

  &__menu {
    box-sizing: border-box;
    display: none;
    cursor: pointer;
    // border: 1px solid rgba($text-dark, 0.1);
    // border-radius: 5px;

    @include respond(phone) {
      height: 6rem;
      width: 8rem;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: column;
    }

    & * {
      background-color: $text-dark;
      width: 70%;
      height: 0.5rem;
      transform-origin: right;
      transition: 0.5s;
    }

    &__logo {
      &__top.clicked {
        transform: rotate(-45deg);
      }
      &__middle.clicked {
        background-color: rgba($text-dark, 0);
      }
      &__bottom.clicked {
        transform: rotate(45deg);
      }
      // position: relative;
      // width: 6rem;
      // height: 0.6rem;
      // background-color: rgba($text-dark, 1);
      // transition: 1s;

      // &.clicked {
      //   background-color: rgba($text-dark, 0);
      // }

      // &::before {
      //   position: absolute;
      //   content: '';
      //   top: -2rem;
      //   left: 0;
      //   background-color: rgba($text-dark, 1);
      //   width: inherit;
      //   height: 0.6rem;
      //   transition: 1s;
      //   transform-origin: left;
      // }

      // &::before.clicked {
      //   transform: rotate(45deg) scale(1);
      // }

      // // &:hover::before {
      // //   // transform-origin: left;
      // //   transform: rotate3d(1, 1, 1, 45deg);
      // // }

      // &::after {
      //   position: absolute;
      //   content: '';
      //   bottom: -2rem;
      //   left: 0;
      //   background-color: $text-dark;
      //   width: 6rem;
      //   height: 0.6rem;
      //   transform-origin: left;
      //   transition: 1s;
      // }

      // &::after.clicked {
      //   position: absolute;
      //   content: '';
      //   bottom: -2rem;
      //   left: 0;
      //   background-color: $text-dark;
      //   width: 6rem;
      //   height: 0.6rem;

      //   transform: rotate(-45deg) scale(1);
      // }
    }
  }
}

.clicked {
}
