@import '../variables';
@import '../animations';
@import '../page';

#planet {
  animation-name: float;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#frontMoons {
  animation-name: bounce;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#backMoons {
  animation-name: bounce;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#shadow {
  opacity: 0;
  // animation-name: fade;
  // animation-duration: 8s;
  // animation-timing-function: linear;
  // animation-iteration-count: infinite;
  // animation-direction: alternate;
}

@keyframes float {
  from {
    transform: translate3d(0);
  }
  to {
    transform: translate3d(0, 10vh, 0);
  }
}

@keyframes bounce {
  from {
    transform: translate3d(0);
  }
  to {
    transform: translate3d(0, 5vh, 0);
  }
}

@keyframes fade {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 1;
  }
}
