@import "../variables";
@import "../animations";
@import "../page";

.presentation {
  &__layout {
    background-color: $bg-light-2;
    color: $text-dark;
    // box-shadow: 0 1rem 2rem rgba(black, 0.1);
  }

  &__container {
    @include Container;
    // min-height: 50vh;
    padding: $section-padding;
  }

  &__header {
  }

  &__heading {
    margin-bottom: 5rem;
    // text-decoration: underline;
  }

  &__content {
    // border: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(phone) {
      flex-direction: column;
    }

    &Text {
      flex: 0.6;

      .question__heading {
        margin-bottom: 2rem;
      }

      .question__span {
        color: $primary-dark;
        font-weight: 600;
      }
    }
    &Image {
      flex: 0.15;
      width: 15%;
      // border: 1px solid blue;
      display: flex;
      justify-content: flex-end;
      align-items: center;

      @include respond(phone) {
        width: 25rem;
        height: 25rem;
        margin: 5rem 0;
        justify-content: center;
        order: -1;
      }
    }
  }
}

.questionBox {
  //   margin: 0rem 0;
  padding: 3rem 1rem;
}
.questionBox:last-of-type {
  border: 0.7rem solid $primary-darkest;
  border-radius: 3px;
}
