@import "../variables";
@import "../animations";
@import "../page";

.skills {
  &__layout {
    background-color: $bg-light;
  }

  &__container {
    @include Container;
    padding: $section-padding;
  }

  &__header {
    margin-bottom: 10rem;
  }

  &__heading {
  }

  &__cards {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // flex-direction: column;
  }

  &__card {
    box-shadow: 0 1rem 2rem rgba(black, 0.1);
    border-radius: 3px;
    padding: 2.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-of-type) {
      margin-bottom: 5rem;
    }

    @include respond(big-desktop) {
      //   width: 40vw;
      //   max-width: 40vw;
    }

    &Main {
      //   background-color: salmon;
      flex: 0.15;

      display: flex;
      justify-content: center;
      align-items: center;

      &Image {
        height: 10rem;
        width: 10rem;
      }
    }
    &Stack {
      flex: 0.75;
      border-left: 1px solid $text-dark;

      display: flex;

      align-items: center;
      padding-left: 5rem;

      &Image {
        height: 7rem;
        width: 7rem;
        margin-right: 5rem;
      }
    }
  }
}

.section {
  &__container {
    // border: 1px solid black;
    margin: 7rem 0;
  }

  &__header {
    margin-bottom: 2rem;
    font-size: 4rem;
    // text-decoration: underline;
  }

  &__content {
    // border: 1px solid red;
    font-size: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include respond(tab-port) {
      flex-direction: column;
    }

    &Main {
      flex: 0.6;

      p {
        // font-size: 3.5rem;
        line-height: 1.5;
      }

      &Bold {
        font-weight: 600;
        color: $primary-dark;
      }
    }

    &Images {
      flex: 0.2;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      width: 100%;

      @include respond(tab-port) {
        justify-content: space-evenly;
      }

      &__item {
        height: 9rem;
        margin-left: 5rem;

        @include respond(tab-port) {
          margin-left: 0;
          margin-top: 5rem;
          margin-bottom: 10rem;
        }
      }
    }
  }
}
