$bg-light-1: #f6fff8;
$bg-light-2: #eaf4f4;

$primary: #a4c3b2;
$primary-light: #cce3de;
$primary-dark: #6b9080;

// SPACING ////////////////////////////////////////////////////////////////
$gutter-vertical: 2rem;
$gutter-vertical-min: 1rem;
