$bg-light: #f5fdff;
$bg-light-2: #eef9fc;
$bg-light-3: #dcf3f9;
$bg-dark-1: #333333;

////// TEXT
$text-dark: #090f20;
$text-light: #eef9fc;

//////COLOR

$primary: #2d50a6;
$primary-light: #7f99dc;
$primary-dark: #162650;
// $primary-darkest: #090f20;
$primary-darkest: #eef9fc;

// SPACING ////////////////////////////////////////////////////////////////
$gutter-vertical: 2rem;
$gutter-vertical-min: 1rem;
