@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "./variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;

  @include respond(big-desktop) {
    font-size: 65%; //1rem = 12px, 12/16 * 100
  }
  @include respond(tab-land) {
    font-size: 56.25%; // 1rem = 9px, 9/16 * 100
  }
  @include respond(tab-port) {
    font-size: 40%; //1rem = 8px, 8/16 * 100 = 50%
  }
  @include respond(phone) {
    font-size: 30%; //1rem = 8px, 8/16 * 100 = 50%
  }
  @include respond(small-phone) {
    font-size: 28%; //1rem = 8px, 8/16 * 100 = 50%
  }
  @include respond(smallest) {
    font-size: 25%; //1rem = 8px, 8/16 * 100 = 50%
  }
}

body {
  font-family: Montserrat, serif;
  font-size: 1.6rem;
  color: $primary-dark;
  background-color: $bg-light;
  // background-image: linear-gradient(
  //   to bottom left,
  //   rgb(107, 214, 247),
  //   rgb(10, 35, 175)
  // );
  // background-size: cover;
  // background-repeat: no-repeat;

  h1 {
    font-size: 8rem;
    font-weight: 600;
    line-height: 12rem;
  }
  h2 {
    font-size: 5rem;
  }
  h3 {
    font-size: 4.5rem;
    font-weight: 600;
  }
  h4 {
    font-size: 3rem;
  }
  h5 {
    font-size: 2rem;
  }

  p {
    font-size: 3.5rem;
    font-weight: 400;
  }
}

::selection {
  background-color: $primary-darkest;
  color: $text-light;
}
