@import "./page";
@import "./variables";
@import "./animations";

.homePage {
  background-color: $bg-light;
  // border: 1px solid black;
}

.homeContainer {
  @include Container;

  .textBox {
    // border: 1px solid green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex: 0;
    height: calc(100vh - 10rem);

    animation: shrink 3s forwards 5s;
  }

  .text {
    &__regular {
    }

    &__crossed {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 9px;
        background-color: #0152a9;
        transition: all 0.5s;
        animation: crossed 2s forwards 1s;
      }

      &:hover::before {
        width: 100%;
      }
    }

    &__negativ {
      color: transparent;
      background-image: url("https://images.unsplash.com/photo-1510021115607-c94b84bceb1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2616&q=80");
      background-clip: text;
      background-size: cover;
      background-position: bottom;
      -webkit-text-stroke: 1px rgba(0, 0, 0, 0.301);
      filter: contrast(0.7);
      opacity: 0;

      animation: fadeInBG 10s forwards 3s;
    }
  }

  .logoBox {
    // border: 5px solid green;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;

    // padding-top: 15vh;

    opacity: 0;
    animation: fadeIn 2s forwards 7s;
  }
  .reactLogo {
    height: 5rem;
    width: auto;
    animation: spin 30s infinite linear;
  }
}

.cardsLayout {
  background-color: $primary-dark;
  // color: $text-light;
}

.cardsContainer {
  @include Container;

  display: flex;
  justify-content: space-around;
  align-items: center;

  padding: 10rem 0;
}

.card {
  border: 1px solid aquamarine;
  background-color: $bg-light;
  width: 20%;
  height: 30rem;
  border-radius: 3px;
  cursor: pointer;
  transition: transform 0.5s;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 5rem;

  &:hover {
    transform: translateY(-0.5rem);
  }

  &__heading {
    text-align: center;
  }

  &__text {
  }
}
